.modal-header {
    background-color: #FF7A00;
    color: white;
}

.boton {
    background-color: #FF7A00  ;
    color: white;
    border-radius: 8px;
    box-shadow: none;
    border: 0;
    width: 100px;
    height: auto;
    
}